@charset "utf-8";
/* CSS Document */

.da {
  border: solid 1px #c0aa83;
}
.da1 {
  background: #c0aa83;
  color: #230d02;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}
.da2 {
  padding: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: #39170e;
  font-weight: 600;
}
.da4 {
  border: solid 1px #000;
  padding-left: none !important;
}
.da3 {
  border-bottom: solid 1px #000;
}
/* .bl {background-image:url(../img/); background-repeat:no-repeat;} */
.bl1 {
  border: solid 1px #000;
  margin-top: 100px;
  padding: 60px;
}
.at {
  background: #bc1c21 !important;
  border: solid 1px #bc1c21 !important;
}
.bl2 {
  background: #000 !important;
  border: solid 1px #bc1c21;
}
.bl3 {
  font-size: 30px;
  color: #3a160a;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.bl4 {
  color: #3a160a;
  padding-top: 0px;
  padding-bottom: 20px;
}
.bl5 {
  font-size: 18px;
  color: #3a160a;
  font-weight: 700;
}
.bxyz {
  border: solid 1px #000 !important;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  color: #fff !important;
}
.av {
  background: #bc1c21 !important;
  border: solid 1px #bc1c21 !important;
  margin-bottom: 20px;
}
.av:hover {
  background: #bc1c21 !important;
  border: solid 1px #bc1c21 !important;
  margin-bottom: 20px;
}
.an {
  background: #993d1d !important;
  border: solid 1px #993d1d !important;
}
.an1 {
  background: #bc1c21 !important;
  border: solid 1px #bc1c21 !important;
}
.ax {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.sidebar .nav-item .collapse .collapse-inner {
  background: #bc1c21 !important;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  color: #000 !important;
}
/* .am {color:#fffff !important; font-weight:700px !important;} */
.pi {
  font-size: 100px;
  font-weight: 600;
  color: #220b03;
  margin-top: 40px;
}
.pi1 {
  font-size: 40px;
  font-weight: 600;
  color: #220b03;
}
.pi2 {
  font-size: 18px;
  color: #220b03;
}
footer.sticky-footer .copyright {
  color: #fff !important;
  font-size: 16px !important;
  
}
.sidebar-dark .nav-item .nav-link {
  color: #fff !important;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    /* [disabled]font-size: 0.8em; */
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
